// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


html {
	text-align: center;
	min-height: 100vh;
}


body {
font-family: Arial, Helvetica, sans-serif;
margin:0;
background: radial-gradient(aqua, lightgrey);

	
}
.homepage{


	
}

.loginpage{

	
}

.container {
	
	width: 100%;
	clear: both;
}
.container input {
	width: 32%;
	clear: both;
}
.container

.button-bucket {
    
    text-align: center;
    justify-content: center;
    line-height: 0;
    padding: 4px;

    
    }

.button4 {
	height: 20px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 2px solid black;
margin: 4px 2px;
transition-duration: 0.1s;
cursor: pointer;
}

.button4:hover {
background-color: white;
color: black;
border: 2px solid #4CAF50
}


.button1 {
    vertical-align: top;
	line-height: 20px;
    display: inline-block;
    background-color: #4CAF50;
    border: none;
    color: #696969;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    
    font-size: 18px;
    border: 2px solid black;
margin: 4px 2px;
transition-duration: 0.1s;
cursor: pointer;
}
.button1:hover {
background-color: white;
color: black;
border: 2px solid #4CAF50
}
.button2 {
	height: 20px;
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    border: 2px solid black;
margin: 4px 2px;
transition-duration: 0.1s;
    cursor: pointer;
}
.button2:hover {
    background-color: white;
    color: black;
    border: 2px solid #008CBA
}
.button3 {
	height: 20px;
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.1s;
    border: 2px solid black;
    cursor: pointer;
}
.button3:hover {
    background-color: white;
    color: black;
    border: 2px solid #f44336
}




